{% extends "layout.html" %}
{% block head%}
{% endblock %}
{% block body %}

<div id="team1">
    <h3>Yellow – <span id="score">0</span></h3>
    <div id="player1">
        id   <span id="id"></span>
        name <span id="name"></span>
        tag  <span id="tag"></span>
    </div>
    <div id="player2">
        id   <span id="id"></span>
        name <span id="name"></span>
        tag  <span id="tag"></span>
    </div>
    <ul id="goals">

    </ul>
</div>
<div id="team2">
    <h3>Black – <span id="score">0</span></h3>
    <div id="player3">
        id   <span id="id"></span>
        name <span id="name"></span>
        tag  <span id="tag"></span>
    </div>
    <div id="player4">
        id   <span id="id"></span>
        name <span id="name"></span>
        tag  <span id="tag"></span>
    </div>
    <ul id="goals">

    </ul>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var source = new EventSource('{{url_for("event_source")}}');
    source.onmessage = function(event) {
        var ev = $.parseJSON(event.data);
        if (ev.player) {
            var tag = ev.player.tag;
            var pos = ev.player.position;
            $.getJSON('/register_player/' + pos + '/' + tag, function(data) {
                $('#player'+pos + ' #id').text(data.player.id);
                $('#player'+pos + ' #name').text(data.player.name);
                $('#player'+pos + ' #tag').text(data.player.tag);
                $('#player'+pos + ' #track').text(data.player.track);
                console.log(data)
            });
        }
        if (ev.goal) {
            var team  = ev.goal.team;
            var spd   = ev.goal.spd;
            var goals = $('#team'+team+' #goals');
            goals.append('<li>'+spd+'</li>');
            $('#team'+team+' #score').text(goals.children().length);
        }
    }
});
</script>
{% endblock %}
